.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal-content {
    background: rgb(247, 246, 246);
    width: 90%;
    max-width: 800px;    
    position: relative;
    animation: fadeInUp 0.3s ease-in-out;
}
.content-info{
    padding: 1rem;
}
.imagem_banner {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.input_cpf {
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.2rem;
    font-size: 1rem;
    border: 2px solid #df8453;
    
}

.generate-voucher-btn {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #2C5D71;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: small;
}

.generate-voucher-btn:hover {
    background-color: #1f4a5b;
    color: white;
}

ul {
    list-style-type: disc;
    margin-left: 1rem;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}